@page "/coupons/create"
@inject IAddCouponUseCase AddCouponUseCase
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Coupon</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Coupon" OnValidSubmit="AddCoupon" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="code" class="form-label">Code:</label>
                <InputText id="code" @bind-Value="Coupon.Code" class="form-control" />
                <ValidationMessage For="() => Coupon.Code" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="discount" class="form-label">Discount:</label>
                <InputNumber id="discount" @bind-Value="Coupon.Discount" class="form-control" />
                <ValidationMessage For="() => Coupon.Discount" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/coupons">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Coupon Coupon { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCoupon()
    {
        await AddCouponUseCase.ExecuteAsync(new AddCouponCommand(Coupon));
        NavigationManager.NavigateTo("/coupons");
    }
}
