@page "/accessDenied"
<div class="container text-center" style="margin-top:150px;margin-bottom:150px;height:auto">
    <i class="fa fa-exclamation-triangle fa-4x text-danger mb-3"></i>

    <h3 class="text-danger">Access Denied</h3>

    <p class="mt-2">
        Access to this page is denied.
    </p>
</div>
@code {

}
