@page "/recovery"
@inject NavigationManager NavigationManager
@inject IValidator<RecoveryViewModel> Validator
@inject ISendRecoveryCodeHandler recoveryCodeHandler;
@rendermode InteractiveServer

<PageTitle>Recovery</PageTitle>


<hr />
<div class="row" style="margin-top:150px;margin-bottom:220px">
    <div class="col-md-4 mx-auto border">
        <EditForm method="post" Model="RecoveryModel" OnValidSubmit="HandleValidSubmit" FormName="login" Enhance>
            <FluentValidationValidator Validator="Validator" />
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger" role=alert>
                    @errorMessage
                </div>
            }
            <div class="mb-3">
                <label for="email" class="form-label">ایمیل:</label>
                <InputText id="email" @bind-Value="RecoveryModel.Email" class="form-control" />
                <ValidationMessage For="() => RecoveryModel.Email" class="text-danger" />
            </div>

           
            <button type="submit" class="btn btn-primary" disabled="@(loading ? "disabled" : null)">
                @if (loading)
                {
                    <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Light" />

                }
                else
                {
                    <span>
                        ارسال کد
                    </span>
                }
            </button>
        </EditForm>
        <br />
        <div>
            <a href="/register">میخواهید حساب بسازید؟ ثبت نام </a>
        </div>
    </div>
</div>


@code {
    [SupplyParameterFromForm]
    private RecoveryViewModel RecoveryModel { get; set; } = new();
    private string? errorMessage = null;
    private bool loading = false;

    private async Task HandleValidSubmit()
    {
        loading = true;
        await Task.Delay(1500);
        //--------------------------------------------------
        try
        {
            await recoveryCodeHandler.ExecuteAsync(RecoveryModel.Email);
            loading = false;
            NavigationManager.NavigateTo("/resetpassword");
        }
        catch
        {
            loading = false;
            errorMessage = "خطا در ارسال کد";
            return;
            
        }

    }
}
